<section>
  <h2>Education</h2>
  <ul>
      <li>
          <strong>Unity Developer</strong><br>
          Generation (Colombia), 06/2024 - 09/2024
      </li>
      <li>
          <strong>Robotics Fundamentals</strong><br>
          IME Escuelas Técnicas, Medellín, Colombia, 02/2023 - 12/2023
      </li>
      <li>
          <strong>Quality Control + Automation (Software Quality Analyst)</strong><br>
          Egg Academy (Globant University), Mendoza, Argentina (remote), 03/2023 - 12/2023
      </li>
      <li>
          <strong>Software Foundations & Front-End Advanced Program</strong><br>
          Holberton School, Medellín, Colombia, 01/2022 - 02/2023
      </li>
      <li>
          <strong>Systems Engineering (5th semester) - Paused with plans to complete my degree</strong><br>
          Corporación Universitaria Remington, Medellín, Colombia, 01/2018 - 01/2021
      </li>
  </ul>
</section>
