<section>
  <h2>Experience</h2>
  <ul>
      <li>
          <strong>Tech Intern</strong><br>
          Tul SAS, Medellín, Colombia, 09/2023 - 09/2024<br>
          Participated in automating software tests, including API and functional tests; I contributed to a microfrontend migration process, managed backend development, database modifications, and issue resolution; assisted with GraphQL system migration for a new marketplace; and updated user interfaces with new features.
      </li>
      <li>
          <strong>Front End Intern</strong><br>
          Intellsis, Remote, 03/2023 - 07/2024<br>
          Assisted the front-end team by creating tooltips, refining macros, and contributing to essential tasks such as updating button labels, adjusting panel colors, and organizing sections with a creative approach.
      </li>
      <li>
          <strong>Bilingual Customer Service Representative</strong><br>
          Teleperformance, 10/2022 - 08/2023<br>
          Provided customer service support in a bilingual environment, addressing customer inquiries, resolving issues, and ensuring high levels of customer satisfaction.
      </li>
  </ul>
</section>
