// Import your variables (ensure the path is correct for your project structure)
@import '../../styles/variables';

// Work Experience section styles
section {
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;

  h2 {
    color: $primary-color;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: lighten($primary-color, 40%);
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
      color: $text-color;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

      strong {
        font-size: 1.1rem;
        color: darken($primary-color, 20%);
      }

      br {
        margin-bottom: 5px;
      }

      ul {
        margin-top: 10px;
        padding-left: 20px;

        li {
          background-color: lighten($primary-color, 50%);
          border-radius: 3px;
          padding: 5px;
          margin-bottom: 5px;
          color: darken($text-color, 20%);
        }
      }
    }
  }
}
