<section class="summary">
  <div class="summary-image">
    <img src="assets/images/KarolDiaz_Cartoon.jpg" alt="Karol">
  </div>
  <h2>Summary</h2>
  <p>As a Full Stack Developer, I specialize in front-end technologies like Angular and React, combining my coding skills with a passion for illustration and visual arts. My background in robotics enhances my problem-solving abilities and technical expertise. I focus on creating seamless user experiences and innovative solutions, driven by creativity and a strong attention to detail.</p>
</section>
