<section>
  <h2>Projects</h2>
  <ul>
    <li>
      <strong><a href="https://nosmow.itch.io/ashasascent" target="_blank">Asha's Ascent: Embers of
          Progress</a></strong> - UI Developer & Designer<br>
      07/2024 - 08/2024<br>
      <p>Developed and designed the game's user interface, ensuring a cohesive visual style. Programmed interactive
        elements for a smooth user experience.</p>
    </li>
    <li>
      <strong><a href="https://acchan23.itch.io/amazonas-odyssey-surviving-the-jungle" target="_blank">Amazon
          Odyssey</a></strong> - UI/UX Developer & Programmer<br>
      08/2024 - 09/2024<br>
      <p>Designed and implemented intuitive user interfaces and engaging experiences. Programmed key gameplay mechanics
        and collaborated with the team to enhance the overall game design.</p>
    </li>
    <li>
      <strong><a href="https://portafolio-indigo.vercel.app/" target="_blank">Portfolio Website - ÍNDIGO
          ARTISTICOO</a></strong> - Frontend Developer (UI/UX Focus)<br>
      01/2026<br>
      <p>Developed and deployed a personal portfolio application using React, showcasing a component-based architecture
        and a strong focus on UI/UX design. Built responsive interfaces with reusable components and styled them using
        modern CSS/SCSS practices. Deployed and maintained the application using Vercel for continuous delivery.

        Live project: https://portafolio-indigo.vercel.app/
      </p>
    </li>
    <li>
      <strong><a href="https://dmonts-food-rest.vercel.app/" target="_blank">PDF-based digital menu</a></strong> - UI/UX Developer
      & Programmer<br>
      09/2025<br>
      <p>Built a digital menu solution to avoid recurring QR menu platform costs, enabling small businesses to update
        content easily through a PDF-based viewer without technical dependency.</p>
    </li>
  </ul>
</section>