<section>
  <h2>Projects</h2>
  <ul>
    <li>
      <strong><a href="https://nosmow.itch.io/ashasascent" target="_blank">Asha's Ascent: Embers of Progress</a></strong> - UI Developer & Designer<br>
      07/2024 - 08/2024<br>
      <p>Developed and designed the game's user interface, ensuring a cohesive visual style. Programmed interactive elements for a smooth user experience.</p>
    </li>
    <li>
      <strong><a href="https://acchan23.itch.io/amazonas-odyssey-surviving-the-jungle" target="_blank">Amazon Odyssey</a></strong> - UI/UX Developer & Programmer<br>
      08/2024 - 09/2024<br>
      <p>Designed and implemented intuitive user interfaces and engaging experiences. Programmed key gameplay mechanics and collaborated with the team to enhance the overall game design.</p>
    </li>
  </ul>
</section>
