<section>
  <h2>Skills</h2>
  <div class="skills-container">
    <div class="skill-item">
      <img src="assets/images/frontEnd.png" alt="React">
      <div class="skill-info">
        <strong>Front End:</strong>
        <p>React, Angular, HTML, CSS, SCSS (Sass) </p>
      </div>
    </div>
    <div class="skill-item">
      <img src="assets/images/backEnd.png" alt="Java">
      <div class="skill-info">
        <strong>Back End:</strong>
        <p>Java, Kotlin, C#, Python, GraphQL</p>
      </div>
    </div>
    <div class="skill-item">
      <img src="assets/images/db.png" alt="Database">
      <div class="skill-info">
        <strong>Database:</strong>
        <p>PostgreSQL, MySQL, MongoDB</p>
      </div>
    </div>
    <div class="skill-item">
      <img src="assets/images/tools.png" alt="Tools">
      <div class="skill-info">
        <strong>Tools:</strong>
        <p>AWS, Redash, Grafana</p>
      </div>
    </div>
    <div class="skill-item">
      <img src="assets/images/soft.png" alt="Personal">
      <div class="skill-info">
        <strong>Personal:</strong>
        <p>Creativity, Collaboration, Curiosity, Communication</p>
      </div>
    </div>
    <div class="skill-item">
      <img src="assets/images/english.png" alt="Languages">
      <div class="skill-info">
        <strong>Languages:</strong>
        <p>Spanish: Native | English: B2</p>
      </div>
    </div>
  </div>
</section>
